*{
    font-family: Poppins;
}
.navbar{
    height: 80px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-brand{
    color: #454545;
    font-weight: 600;
    font-size: 32px;
    padding-left: 30px;
}

.container-fluid{
    padding-top: 50px;
}

input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }

  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #00ADB5;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #00848A;
  }

  .btn-unggah{
    padding-top: 50px;
    padding-left: 170px;
  }

  .drop-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

  .submit-btn{
    margin-right: 170px;
    border: none;
    background: #00ADB5;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }